
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');
:root{
    --bg-gray: E8E8E8;
    --color-primary:#4D41C0;
    --white: #fff;
}
*{
    margin: 0;
    box-sizing: borde - box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background-color: var(--bg-gray);
}
header { 
    background-color:var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;

}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   }
   nav h1{
       font-size: 24px;
       font-weight: 700;
       margin: 0;
   }

 nav a {
    font-size: 12px;
    font-weight: 400;
 text-decoration: none ;
    color:unset;
}
 a:haver{
    color:rgb(14, 13, 13);
}


.dsmovie-contact-container{
    display: flex;
    align-items: center ;
}

.dsmovie-contact-container img{
    margin-right: 10px;
}

